.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 128px 0;
    position: relative;
}

.page {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;
    }
    &__text {
        width: 50%;
        font-size: 64px;
    }
}

.home-page {
    &__title {
        width: 50%;
    }
}
