$color-white: #ffffff;
$color-secondary: #ff365b;
$color-primary: #b2ff0d;

:root {
  --color-white: #ffffff;
  --color-secondary: #ff365b;
  --color-primary: #b2ff0d;
  --color-background: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.15rem;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: #000;
  // background: linear-gradient(to right, black 50%, white 50%);
  // background: linear-gradient(to bottom right, black 50%, white 50%);
  // background: linear-gradient(135deg, black 25%, white 75%);

  // background: linear-gradient(-45deg, white 50%, black 50%);

}

.wrapper {
  width: 100%;
  padding: 30px 60px;
  // mix-blend-mode:difference;
}

.title {
  font-size: 96px;
  color: $color-secondary;
}

a, .link {
  text-decoration: none;
  color: $color-white;
}

.text {
  font-size: 17px;
  color: white;
}

.btn {
  width: fit-content;
  border-radius: 64px;
  border: 2px solid $color-primary;
  font-size: 28px;
  text-transform: uppercase;
  padding: 24px 48px;
  background: transparent;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s ease-in-out,
    color 0.3s;
  position: relative;

  overflow: hidden;

  &:hover {
    background: $color-primary;
    color: black;
    transform: scale(1.05);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 45px;
    height: 100%;
    transform: skewX(-45deg);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.5));
    animation: flareAnimation 3s infinite linear;
  }
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.pulse-animation {
  .pulse-animation__rect {
    animation: pulse 3s infinite linear;
  }
}

@keyframes pulse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(600px);
  }
}
